#!/bin/sh

xrdb -merge -I$HOME ~/.config/Xresources
dwmblocks &
dunst &
# picom &
xcompmgr &
remaps &
battery_signal &

if [ -f ~/.config/wall.png ]
then
    feh --bg-scale ~/.config/wall.png &
elif [ -f ~/.config/default.png ]
then
    setbg ~/.config/default.png &
else
    notify-send --warn "No wallpaper" &
fi
